@model Apply.Models.ExternalLoginListViewModel
@using Microsoft.Owin.Security
@using Apply.Helpers

<h4>Sign in with your social media account</h4>
<hr />
@{
    var loginProviders = Context.GetOwinContext().Authentication.GetExternalAuthenticationTypes();
    using (Html.BeginForm("ExternalLogin", "Account", new { ReturnUrl = Model.ReturnUrl })) {
        @Html.AntiForgeryToken()
        <div id="socialLoginList" class="row">
            <div class="col-xs-4 col-sm-6">
                @foreach (AuthenticationDescription p in loginProviders) {
                    string provider = UserHelpers.GetExternalProviderGlyphicon(p.AuthenticationType);
                    <button type="submit" class="btn btn btn-lg btn-block"
                            id="@p.AuthenticationType" name="provider"
                            value="@p.AuthenticationType"
                            title="Log in using your @p.Caption account">
                        <i class="fa fa-@provider visible-xs"></i>
                        <span class="hidden-xs">@p.AuthenticationType</span>
                    </button>
                }
            </div>
        </div>
    }
}
