@model Apply.Models.LanguageCompetence

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}

<h2>Sprache löschen</h2>

<h3>Wollen Sie die Sprache wirklich löschen?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.LanguageName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LanguageName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LanguageCompetenceLevel.LevelName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LanguageCompetenceLevel.LevelName)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Löschen" class="btn btn-default" /> |
            @Html.ActionLink("Zurück", "Index")
        </div>
    }
</div>
