
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Meine ASP.NET-Anwendung</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
</head>
<body>

    <header class="cd-header">
        <a href="#0" class="cd-3d-nav-trigger">
            Menu
            <span></span>
        </a>
    </header>
    <nav class="cd-3d-nav-container">
        <ul class="cd-3d-nav">
            <li>@Html.ActionLink("Startseite", "Index", "Home")</li>
            <li>@Html.ActionLink("Info", "About", "Home")</li>
            <li>@Html.ActionLink("Kontakt", "Contact", "Home")</li>
            @using Microsoft.AspNet.Identity
            @if (Request.IsAuthenticated)
            {
                using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", style = "height:100%;" }))
                {
                    @Html.AntiForgeryToken()
                    <li class="cd-3d-nav">
                        @Html.ActionLink("Hallo " + User.Identity.GetUserName(), "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
                    </li>
                    <li class="cd-3d-nav">
                        <a href="javascript:document.getElementById('logoutForm').submit()">Abmelden</a>
                    </li>
                }
            }
            else
            {
                    <li>@Html.ActionLink("Registrieren", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
                    <li>@Html.ActionLink("Anmelden", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
            }
        </ul>
    </nav>
    <main>
        <div id="wrapper">
            <!-- Sidebar -->
            <div id="sidebar-wrapper">
                <ul class="sidebar-nav">
                    <li>
                       @Html.ActionLink("Info`s", "Index", "Manage")
                    </li>
                    <li>
                        @Html.ActionLink("Persönliche Daten", "Daten", "Manage")
                    </li>
                    <li>
                        @Html.ActionLink("Berufserfahrung", "Index", "WorkExperiences")
                    </li>
                    <li>
                        @Html.ActionLink("Schulische Ausbildung", "Index", "Educations")
                    </li>
                    <li>
                        @Html.ActionLink("Sprachen", "Index", "LanguageCompetences")
                    </li>
                    <li>
                        @Html.ActionLink("Fähigkeiten", "Index", "Skills")
                    </li>
                </ul>
            </div>
            <!-- /#sidebar-wrapper -->
            <!-- Page Content -->
            <div id="page-content-wrapper">
                <a href="#menu-toggle" class="cd-3d-nav-trigger1" id="menu-toggle">
                    <span></span>
                </a>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12">
                            @RenderBody()
                        </div>
                    </div>
                </div>
            </div>
            <!-- /#page-content-wrapper -->
        </div>
    </main>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="~/Scripts/jquery.shuffleLetters.js"></script>
    <script src="~/Scripts/script.js"></script>
    <script src="~/Scripts/main.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
<script>
    $("#menu-toggle").click(function (e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
</script>
