<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Meine ASP.NET-Anwendung</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <header class="cd-header">
        <a href="#0" class="cd-3d-nav-trigger">
            Menu
            <span></span>
        </a>
    </header>
    <main>
        <div class="container body-content">
            @RenderBody()
        </div>
    </main>

    <nav class="cd-3d-nav-container">
        <ul class="cd-3d-nav">
            <li>@Html.ActionLink("Startseite", "Index", "Home")</li>
            <li>@Html.ActionLink("Info", "About", "Home")</li>
            <li>@Html.ActionLink("Kontakt", "Contact", "Home")</li>
            @using Microsoft.AspNet.Identity
            @if (Request.IsAuthenticated)
            {
                using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", style = "height:100%;" }))
                {
                    @Html.AntiForgeryToken()
                    <li id="1">
                        @Html.ActionLink("Hallo " + User.Identity.GetUserName(), "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
                    </li>
                    <li id="2">
                        <a href="javascript:document.getElementById('logoutForm').submit()">Abmelden</a>
                    </li>
                }
            }
            else
            {
                    <li>@Html.ActionLink("Registrieren", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
                    <li>@Html.ActionLink("Anmelden", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
            }
        </ul>
    </nav>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="~/Scripts/jquery.shuffleLetters.js"></script>
    <script src="~/Scripts/script.js"></script>
    <script src="~/Scripts/main.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
